$colorBeige: rgb(224, 203, 185);
$colorDarkBeige: rgb(170, 144, 133);
$colorOrange: rgb(212, 146, 102);
$colorGreen: rgb(99, 143, 99);
$colorDarkGreen: rgb(70, 105, 70);
$colorBlue: rgb(49, 102, 116);